
:root {
    --spacing-0: 0px;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;

    --page-gutter: 0.5rem;

    --grey-200: hsl(210, 46%, 95%);
    --grey-500: hsl(214, 17%, 51%);
    --grey-400: hsl(212, 23%, 69%);
    --grey-900: hsl(217, 19%, 35%);

    --font-w-regular: 500;
    --font-w-bold: 700;
    --font-f: "Manrope";
    --font-s-base: 0.8125rem;
    --font-s-large: 1.25rem;

    --duration-1: 0.45s;
    --duration-2: 0.6s;

}
